<!-- https://www.npmjs.com/package/html5-to-pdf
https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagepdfoptions
https://github.com/tomastrajan/angular-ngrx-material-starter
https://getbootstrap.com/docs/4.1/getting-started/introduction/ -->

<div class="cv">
    <header class="cv-header cv-px-5 cv-py-6 ">
        <div class="d-flex h-100">
            <div class="owner-image-wrapper cv-mr-8">
                <div class="owner-image">
                    <img src="/assets/me.jpg " alt="me" />
                </div>
            </div>
            <div class="owner-data-wrapper">
                <div class="d-flex flex-column justify-content-between h-100">
                    <h1 class="text-uppercase">Mateusz Tondos</h1>
                    <div class="cv-header__content row">
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-globe-americas"></i>
                                <div class="cv-header__icon-image">
                                    <a href="https://tondi.pl">tondi.pl</a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="fab fa-github"></i>
                                <div class="cv-header__icon-image">
                                    <a href="https://github.com/tondi">github.com/tondi</a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="fab fa-linkedin-in"></i>
                                <div class="cv-header__icon-image">
                                    <a href="https://linkedin.com/in/mtondos">linkedin.com/in/mtondos</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-globe-americas"></i>
                                <div class="cv-header__icon-image">
                                    <a href="https://tondi.pl">tondi.pl</a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="fab fa-github"></i>
                                <div class="cv-header__icon-image">
                                    <a href="https://github.com/tondi">github.com/tondi</a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="fab fa-linkedin-in"></i>
                                <div class="cv-header__icon-image">
                                    <a href="https://linkedin.com/in/mtondos">linkedin.com/in/mtondos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </header>
    <main class="cv-px-8 cv-pb-3">

        <div class="section-header">
            <h2 class="section-header__text">Experience</h2>
        </div>
        <div class="media-object media-object--with-timespan">
            <div class="media-object__timespan-wrapper">
                <div class="media-object__timespan">
                    <div class="media-object__timespan-text">
                        Jun 2017 - present
                    </div>
                    <div class="media-object__timespan-elapsed">
                        1yr 3mos
                    </div>
                </div>
            </div>
            <div class="media-object__content">
                <div class="media-object__header">
                    <span class="media-object__header-text">
                        Frontend Developer
                    </span>
                </div>
                <div class="media-object__description">
                        Dec2017-present: UsingAngular5, Sass & Typescript to delive rhi-end shop app
                        for internatonal sports company
                </div>
            </div>
        </div>

        <div class="section-header">
            <h2 class="section-header__text">Skills</h2>
        </div>
        <div class="media-object">
            <div class="media-object__content">
                <div class="media-object__header">
                    <span class="media-object__header-text">
                        Javascript
                    </span>
                    <span class="media-object__header-additional">
                        - Advanced
                    </span>
                </div>
                <div class="media-object__description">
                    ES6+, Typescript, Angular, three.js, mnode.js, socket.io, WebGL (HTML Canvas)
                </div>
            </div>
        </div>

    </main>
    <footer class="cv-footer cv-px-5 cv-py-5">
        <div class="d-flex">
            <div class="cv-footer__column">
                <div class="media-object media-object--colored cv-mt-0">
                    <div class="media-object__content">
                        <div class="media-object__header">
                            <span class="media-object__header-text">
                                Interests
                            </span>
                        </div>
                        <div class="media-object__description">
                            Guitar, piano, running
                        </div>
                    </div>
                </div>
            </div>
            <div class="cv-footer__column">
                <div class="media-object media-object--colored cv-mt-0">
                    <div class="media-object__content">
                        <div class="media-object__header">
                            <span class="media-object__header-text">
                                Environment
                            </span>
                        </div>
                        <div class="media-object__description">
                            ES6+, Typescript, Angular
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cv-footer__agreement cv-mt-3">
            Wyrażam zgodę na przetwarzanie moich danych osobowych w celu rekrutacji zgodnie z art. 6 ust. 1 lit. a Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych)
        </div>
    </footer>
</div>
